.payment-page-body {
  background-color: var(--primary-purple) !important;
  background-color: var(--primary-purple);
  background-image: url(/images/logo.png);
  background-size: 15rem;
  background-repeat: repeat-y;
  background-position: 82%;
  background-attachment: fixed;
  padding: 2rem 0;
  min-height: 100vh;
}
.payment-page-margin {
  margin: 0.5rem auto;
  max-width: 100%;
  width: 35rem;
}
.payment-page {
  max-width: 35rem;
  margin: 0 0.5rem 5rem;
  padding: 2.5rem;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}
@media (max-width: 600px) {
  .payment-page {
    padding: 1rem;
  }
}
.payment-form {
  margin-bottom: 3rem;
}
.options {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.option1 {
  width: 100%;
}
.form-textarea {
  height: 4rem;
}
.form-select {
  width: 8rem;
  color: var(--primary-purple);
}
.form-checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.form-checkbox p {
  margin: 0;
  max-width: 20rem;
}

/* CART SUMMARY LIST */
.payment-cart {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.payment-cart li {
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0;
}

.payment-total {
  font-size: 1.2rem;
  text-align: right;
}

.btn-purple:disabled {
  background-color: #a99ecb;
  cursor: not-allowed;
}

.checkbox-wrapper-39 *,
.checkbox-wrapper-39 *::before,
.checkbox-wrapper-39 *::after {
  box-sizing: border-box;
}

.checkbox-wrapper-39 label {
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.checkbox-wrapper-39 input {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-39 input:checked ~ .checkbox {
  transform: rotate(45deg);
  width: 14px;
  margin-left: 12px;
  border-color: #24c78e;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}

.checkbox-wrapper-39 .checkbox {
  display: block;
  width: inherit;
  height: inherit;
  border: 1px solid var(--primary-purple);
  border-radius: 6px;
  transition: all 0.375s;
}
