.cash-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.cash-popup {
  background: var(--primary-white);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 40rem;
  width: 100%;
  text-align: center;
  margin: 1rem;
}
.quick-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 25rem;
  margin: 0 auto 1rem;
}
.quick-buttons button {
  height: 5rem;
}
.unset {
  width: unset;
  margin: unset;
}
.amounts,
.history-list {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.amount-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.amount {
  font-size: 2.5rem;
}
.red {
  color: red;
}
.cash-loading-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
