.kitchen-section {
  margin: 1rem auto;
  width: 100%;
  max-width: 30rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.kitchen-section ul,
.kitchen-order ul,
.kitchen-section li,
.kitchen-order li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.kitchen-section li {
  margin-bottom: 1rem;
}
.kitchen-section h1 {
  text-align: center;
  font-size: 2rem;
}
.kitchen-orders {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
}
.kitchen-order {
  border: 2px solid var(--primary-purple);
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}
.kitchen-order .pizzas,
.kitchen-order .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
}
.kitchen-order .heading {
  background-color: var(--primary-purple);
  color: var(--primary-white);
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.kitchen-order button {
  width: 50%;
  margin: 2rem 1rem 1rem;
}
.kitchen-order .note {
  margin-left: 0;
}
.pizzas .list {
  padding-left: 0;
}
.pizza-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.pizza-item input:checked + .pizza-name {
  text-decoration: line-through;
  opacity: 0.5;
}
.pizzas:has(input:checked) ~ .pizza-qty {
  text-decoration: line-through;
  opacity: 0.5;
}
.pizza-item input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  flex-shrink: 0;
}
.pizzas {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

/* RED: 0–10 min */
.kitchen-order.urgent-red {
  border: 2px solid red;
}
.kitchen-order.urgent-red .heading {
  background-color: red;
}

/* ORANGE: 10–30 min */
.kitchen-order.urgent-orange {
  border: 2px solid orange;
}
.kitchen-order.urgent-orange .heading {
  background-color: orange;
}

/* GREEN: order done */
.kitchen-order.done {
  border: 2px solid green;
}
.kitchen-order.done .heading {
  background-color: green;
}

/* BLACK: order picked up */
.kitchen-order.pickedup {
  border: 2px solid black;
}
.kitchen-order.pickedup .heading {
  background-color: black;
}
