@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic);
:root {
  --primary-pink: #ffa9c8;
  --primary-purple: #6237c8;
  --primary-blue: #3ec0d1;
  --primary-white: #f6f6f6;
}
html {
  scroll-behavior: smooth;
}
a,
body,
div,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
li,
p,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  background-color: var(--primary-white);
}
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
body {
  -webkit-text-size-adjust: none;
}
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body,
input,
textarea {
  color: var(--primary-purple);
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.65em;
}
a {
  -moz-transition:
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  -webkit-transition:
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  -ms-transition:
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  transition:
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  color: inherit;
  text-decoration: none;
}
.button:hover {
  background-color: var(--primary-pink);
}
b {
  color: var(--primary-purple);
  font-weight: 400;
}
p {
  margin: 0 0 2em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-purple);
  line-height: 1em;
  margin: 0 0 1em 0;
  font-weight: 600;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 2.25em;
  line-height: 1.35em;
}
h2 {
  font-size: 2em;
  line-height: 1.35em;
}
h3 {
  font-size: 1.35em;
  line-height: 1.5em;
}
h4 {
  font-size: 1.25em;
  line-height: 1.5em;
}
h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}
h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.container {
  margin: 0 auto;
  max-width: calc(100% - 4em);
  width: 60em;
}
.container.medium {
  width: 45em;
}
@media screen and (max-width: 980px) {
  .container {
    max-width: 100% !important;
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: calc(100% - 3em);
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
}
.row > * {
  box-sizing: border-box;
}
.row > .imp {
  order: -1;
}
.row > .col-1 {
  width: 8.33333%;
}
.row > .col-2 {
  width: 16.66667%;
}
.row > .col-3 {
  width: 25%;
}
.row > .col-4 {
  width: 33.33333%;
}
.row > .col-5 {
  width: 41.66667%;
}
.row > .col-6 {
  width: 50%;
}
.row > .col-7 {
  width: 58.33333%;
}
.row > .col-8 {
  width: 66.66667%;
}
.row > .col-9 {
  width: 75%;
}
.row > .col-10 {
  width: 83.33333%;
}
.row > .col-11 {
  width: 91.66667%;
}
.row > .col-12 {
  width: 100%;
}
.row.gtr-0 {
  margin-top: 0;
  margin-left: 0;
}
.row.gtr-0 > * {
  padding: 0;
}
.row.gtr-25 {
  margin-top: 0;
  margin-left: -0.5em;
}
.row.gtr-25 > * {
  padding: 0 0 0 0.5em;
}
.row.gtr-50 {
  margin-top: 0;
  margin-left: -1em;
}
.row.gtr-50 > * {
  padding: 0 0 0 1em;
}
.row {
  margin-top: 0;
  margin-left: -2em;
}
.row > * {
  padding: 0 0 0 2em;
}
.row.gtr-150 {
  margin-top: 0;
  margin-left: -3em;
}
.row.gtr-150 > * {
  padding: 0 0 0 3em;
}
.row.gtr-200 {
  margin-top: 0;
  margin-left: -4em;
}
.row.gtr-200 > * {
  padding: 0 0 0 4em;
}
@media screen and (max-width: 1680px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0;
  }
  .row.gtr-0 > * {
    padding: 0;
  }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.5em;
  }
  .row.gtr-25 > * {
    padding: 0 0 0 0.5em;
  }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -1em;
  }
  .row.gtr-50 > * {
    padding: 0 0 0 1em;
  }
  .row {
    margin-top: 0;
    margin-left: -2em;
  }
  .row > * {
    padding: 0 0 0 2em;
  }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -3em;
  }
  .row.gtr-150 > * {
    padding: 0 0 0 3em;
  }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -4em;
  }
  .row.gtr-200 > * {
    padding: 0 0 0 4em;
  }
}
@media screen and (max-width: 1140px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0;
  }
  .row.gtr-0 > * {
    padding: 0;
  }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.5em;
  }
  .row.gtr-25 > * {
    padding: 0 0 0 0.5em;
  }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -1em;
  }
  .row.gtr-50 > * {
    padding: 0 0 0 1em;
  }
  .row {
    margin-top: 0;
    margin-left: -2em;
  }
  .row > * {
    padding: 0 0 0 2em;
  }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -3em;
  }
  .row.gtr-150 > * {
    padding: 0 0 0 3em;
  }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -4em;
  }
  .row.gtr-200 > * {
    padding: 0 0 0 4em;
  }
}
@media screen and (max-width: 980px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row > .imp-medium {
    order: -1;
  }
  .row > .col-1-medium {
    width: 8.33333%;
  }
  .row > .col-2-medium {
    width: 16.66667%;
  }
  .row > .col-3-medium {
    width: 25%;
  }
  .row > .col-4-medium {
    width: 33.33333%;
  }
  .row > .col-5-medium {
    width: 41.66667%;
  }
  .row > .col-6-medium {
    width: 50%;
  }
  .row > .col-7-medium {
    width: 58.33333%;
  }
  .row > .col-8-medium {
    width: 66.66667%;
  }
  .row > .col-9-medium {
    width: 75%;
  }
  .row > .col-10-medium {
    width: 83.33333%;
  }
  .row > .col-11-medium {
    width: 91.66667%;
  }
  .row > .col-12-medium {
    width: 100%;
  }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0;
  }
  .row.gtr-0 > * {
    padding: 0;
  }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.5em;
  }
  .row.gtr-25 > * {
    padding: 0 0 0 0.5em;
  }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -1em;
  }
  .row.gtr-50 > * {
    padding: 0 0 0 1em;
  }
  .row {
    margin-top: 0;
    margin-left: -2em;
  }
  .row > * {
    padding: 0 0 0 2em;
  }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -3em;
  }
  .row.gtr-150 > * {
    padding: 0 0 0 3em;
  }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -4em;
  }
  .row.gtr-200 > * {
    padding: 0 0 0 4em;
  }
}
@media screen and (max-width: 736px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0;
  }
  .row.gtr-0 > * {
    padding: 0;
  }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.5em;
  }
  .row.gtr-25 > * {
    padding: 0 0 0 0.5em;
  }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -1em;
  }
  .row.gtr-50 > * {
    padding: 0 0 0 1em;
  }
  .row {
    margin-top: 0;
    margin-left: -2em;
  }
  .row > * {
    padding: 0 0 0 2em;
  }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -3em;
  }
  .row.gtr-150 > * {
    padding: 0 0 0 3em;
  }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -4em;
  }
  .row.gtr-200 > * {
    padding: 0 0 0 4em;
  }
}
@media screen and (max-width: 480px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0;
  }
  .row.gtr-0 > * {
    padding: 0;
  }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.5em;
  }
  .row.gtr-25 > * {
    padding: 0 0 0 0.5em;
  }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -1em;
  }
  .row.gtr-50 > * {
    padding: 0 0 0 1em;
  }
  .row {
    margin-top: 0;
    margin-left: -2em;
  }
  .row > * {
    padding: 0 0 0 2em;
  }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -3em;
  }
  .row.gtr-150 > * {
    padding: 0 0 0 3em;
  }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -4em;
  }
  .row.gtr-200 > * {
    padding: 0 0 0 4em;
  }
}
@media screen and (max-width: 320px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0;
  }
  .row.gtr-0 > * {
    padding: 0;
  }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.5em;
  }
  .row.gtr-25 > * {
    padding: 0 0 0 0.5em;
  }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -1em;
  }
  .row.gtr-50 > * {
    padding: 0 0 0 1em;
  }
  .row {
    margin-top: 0;
    margin-left: -2em;
  }
  .row > * {
    padding: 0 0 0 2em;
  }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -3em;
  }
  .row.gtr-150 > * {
    padding: 0 0 0 3em;
  }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -4em;
  }
  .row.gtr-200 > * {
    padding: 0 0 0 4em;
  }
}
@keyframes pulse {
  30% {
    transform: scale(1.1);
  }
  40% {
    transform: rotate(-5deg) scale(1.1);
  }
  50% {
    transform: rotate(5deg) scale(1.1);
  }
  70% {
    transform: rotate(0) scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
section.special {
  text-align: center;
}
.icon > .label {
  display: none;
}
.icon:before {
  line-height: inherit;
}
.icon.brands:before {
  font-family: "Font Awesome 5 Brands";
}
.image {
  border: 0;
  display: inline-block;
  position: relative;
}
.image img {
  border-radius: 1rem;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px;
}
.image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}
.image.left {
  max-width: 40%;
}
.image.left img {
  width: 100%;
}
.img-box {
  border-radius: 1rem;
  overflow: hidden;
}
ul.alt {
  list-style: none;
  padding-left: 0;
}
ul.alt li {
  border-top: solid 1px rgba(144, 144, 144, 0.5);
  padding: 0.5em 0;
}
ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}
header.major:after {
  background: rgba(144, 144, 144, 0.5);
  content: "";
  display: inline-block;
  height: 1px;
  margin: 1.5em 0 1.5rem 0;
  width: 6rem;
}
header.major h2,
header.major h3,
header.major h4,
header.major h5,
header.major h6 {
  margin: 0;
}
header.major p {
  margin: 0.7rem 0 0 0;
}
header.special {
  text-align: center;
}
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
ul.icons li {
  display: inline-block;
  padding: 0 1.25em 0 0;
}
ul.icons li:last-child {
  padding-right: 0;
}
ul.icons li .icon:before {
  font-size: 1.5em;
}
ul.major-icons {
  list-style: none;
  padding-left: 0;
}
ul.major-icons li {
  display: inline-block;
  padding: 2.5em;
  text-align: center;
}
ul.major-icons li .icon {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 4px;
  border: solid 1px rgba(144, 144, 144, 0.5);
  display: inline-block;
  height: 8em;
  line-height: 8em;
  margin: 0;
  text-align: center;
  width: 8em;
}
ul.major-icons li .icon:before {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  line-height: inherit;
}
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  -webkit-transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  -ms-transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 0 0 1px var(--primary-purple);
  color: var(--primary-purple);
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 400;
  height: 2.75em;
  letter-spacing: 0.125em;
  line-height: 2.75em;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  text-indent: 0.125em;
  text-transform: uppercase;
  white-space: nowrap;
}
.main {
  padding: 5rem 1rem;
}
.main.style2,
.hero {
  background-color: var(--primary-purple);
  background-image: url(/images/logo.png);
  background-size: 15rem;
  background-repeat: repeat-y;
  background-position: 82%;
  background-attachment: fixed;
}
.main.style2 h4 {
  color: var(--primary-white);
}
body.is-preload #header:after {
  opacity: 1;
}
#footer {
  padding: 6em 0 6em 0;
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background: linear-gradient(
    45deg,
    var(--primary-purple),
    var(--primary-pink)
  );
  background-position:
    top left,
    center center,
    center center;
  background-size: auto, cover, cover;
  text-align: center;
}
footer {
  margin-top: 15rem !important;
}
#footer a {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
#footer b,
#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
  color: var(--primary-white);
}
#footer header p {
  color: var(--primary-white);
}
#footer header.major:after {
  background: var(--primary-white);
}
#footer .button,
#footer button,
#footer input[type="button"],
#footer input[type="reset"],
#footer input[type="submit"] {
  box-shadow: inset 0 0 0 1px var(--primary-white);
  color: var(--primary-white) !important;
}
#footer .button:hover,
#footer button:hover,
#footer input[type="button"]:hover,
#footer input[type="reset"]:hover,
#footer input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.125);
}
#footer .button:active,
#footer button:active,
#footer input[type="button"]:active,
#footer input[type="reset"]:active,
#footer input[type="submit"]:active {
  background-color: rgba(255, 255, 255, 0.25);
}
#footer ul.major-icons li .icon {
  border-color: var(--primary-white);
}
#footer .icon.major {
  color: var(--primary-white);
}
#footer .icons {
  margin: 0;
}
#footer .copyright {
  font-size: 0.8em;
  list-style: none;
  margin: 2em 0 0 0;
  padding: 0;
}
#footer .copyright li {
  border-left: solid 1px;
  display: inline-block;
  line-height: 1em;
  margin-left: 1em;
  padding: 0 0 0 1em;
}
#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding: 0;
}
@media screen and (max-width: 1680px) {
  body,
  input,
  textarea {
    font-size: 14pt;
  }
  #header {
    padding: 6em 0 6em 0;
  }
}
@media screen and (max-width: 1140px) {
  body,
  input,
  textarea {
    font-size: 13pt;
  }
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br {
    display: none;
  }
  ul.major-icons li {
    padding: 2em;
  }
  ul.major-icons li .icon {
    height: 8em;
    line-height: 8em;
    width: 8em;
  }
  #header {
    padding: 5em 0 5em 0;
    background-attachment: scroll;
  }
  #header br {
    display: inline;
  }
  #footer {
    padding: 4em 0 4em 0;
    background-attachment: scroll;
  }
}
@media screen and (max-width: 980px) {
  ul.major-icons li {
    padding: 2em;
  }
  ul.major-icons li .icon {
    height: 7em;
    line-height: 7em;
    width: 7em;
  }
  #header {
    padding: 8em 3em 8em 3em;
  }
  #footer {
    padding: 5em 3em 5em 3em;
  }
  #two {
    text-align: center;
  }
}
@media screen and (max-width: 736px) {
  body,
  input,
  textarea {
    font-size: 12pt;
  }
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.1em;
  }
  h4 {
    font-size: 1em;
  }
  ul.major-icons li {
    padding: 1.5em;
  }
  ul.major-icons li .icon {
    height: 5em;
    line-height: 5em;
    width: 5em;
  }
  ul.major-icons li .icon:before {
    font-size: 42px;
  }
  .icon.major {
    margin: 0 0 1em 0;
  }
  .button,
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    height: 3em;
    line-height: 3em;
  }
  #header {
    padding: 4em 3em 4em 3em;
  }
  #footer {
    padding: 3em 1.5em 3em 1.5em;
  }
}
@media screen and (max-width: 480px) {
  .button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    padding: 0;
  }
  #header {
    padding: 4em 2em 4em 2em;
  }
  #header br {
    display: none;
  }
  #footer {
    padding: 2em 1.5em 2em 1.5em;
  }
  #footer .copyright {
    margin: 1.5em 0 0 0;
  }
  #footer .copyright li {
    border: 0;
    display: block;
    margin: 1em 0 0 0;
    padding: 0;
  }
  #footer .copyright li:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 320px) {
  body,
  html {
    min-width: 320px;
  }
  #header {
    padding: 3em 1em 3em 1em;
  }
  #footer {
    padding: 2em 1em 2em 1em;
  }
}
* {
  box-sizing: border-box;
}
.mySlides {
  display: none;
}
.next,
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--primary-white);
  font-weight: 700;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.next:hover,
.prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.price {
  margin-left: 1rem;
}
* {
  margin: 0;
}
.monoton-regular {
  font-family: Monoton, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}
body {
  overflow-x: hidden;
}
.header-container {
  height: 100vh;
  width: 100%;
  background-image: url(/images/Image-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: scaleSmall 15s infinite;
}
.planet-box {
  margin: 0;
  padding: 0;
  display: flex;
  display: flex;
  align-items: center;
}
.planet {
  padding-top: 10rem;
  margin: 0;
  margin: auto;
  width: 38rem;
  animation: scale 15s infinite;
}
.planet-image {
  max-width: 100%;
  animation: rotate 240s infinite;
}
.people {
  position: absolute;
  width: 200%;
  left: -50%;
  bottom: -2rem;
  max-height: 40rem;
}
.scroll-dwn {
  position: absolute;
  transform: rotate(-90deg);
  top: calc(50% - 5rem);
  width: 10rem;
  right: -3.5rem;
  color: var(--primary-white);
  text-transform: uppercase;
  font-size: 1.5rem;
}
.left {
  left: -3.5rem;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text {
  font-size: 2.5rem;
  color: var(--primary-white);
  position: absolute;
  top: 8rem;
  width: 100%;
  text-align: center;
}
@media (min-width: 1024px) {
  .text {
    font-size: 7rem;
    top: 8rem;
  }
  .people {
    left: 0;
    width: 100%;
    bottom: -2.5rem;
  }
}
.nav-box {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
}
.nav-box,
.nav-btns {
  display: flex;
  gap: 1rem;
}
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  padding: 0.5rem;
  color: var(--primary-pink);
  border: 2px solid var(--primary-pink);
  border-radius: 0.25rem;
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 580px) {
  .nav-btn {
    width: 7rem;
    padding: 0.25rem;
  }
}
.nav-btn:hover {
  background-color: var(--primary-purple);
}
.custom-form-wrapper {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.form-container {
  width: 30rem;
  background: var(--primary-white);
  padding: 2.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}
.step {
  display: none;
}
.step.active {
  display: block;
}
.step input {
  background-color: var(--primary-white);
}
label {
  color: var(--primary-purple);
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}
input,
textarea,
select {
  width: 100%;
  padding: 14px 15px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 1px solid var(--primary-purple);
  transition: all 0.3s;
  cursor: pointer;
}
input:focus,
textarea:focus,
select:focus {
  border-color: var(--primary-pink);
}
input:focus,
textarea:focus {
  box-shadow: 0 0 8px rgba(52, 144, 220, 0.2);
  outline: 0;
}
textarea {
  resize: none;
}
button {
  padding: 0.25rem;
  width: 7rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-submit {
  background-color: #38c172 !important;
}
.btn-submit:hover {
  background: #2f9e5a !important;
}
.clearfix {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 1rem;
  margin: 2rem -1rem 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.progress-step {
  width: 30%;
  height: 6px;
  background: #d8d8d8;
  border-radius: 3px;
  transition: all 0.3s;
}
.progress-step.active {
  background: var(--primary-purple);
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 15px;
  display: block;
  height: 16px;
}
input.error,
textarea.error {
  border-color: red;
  box-shadow: 0 0 6px rgba(231, 76, 60, 0.3);
}
.style2 {
  position: relative;
}
.text-h1 {
  font-size: 7.5rem;
}
@media screen and (max-width: 980px) {
  .text-h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 580px) {
  .text-h1 {
    font-size: 3rem;
  }
}
.text-h4 {
  width: 30rem;
  margin: 0;
  position: absolute;
  font-size: 3rem;
  top: 1rem;
  left: calc(50% - 15rem);
}
.side {
  position: absolute;
  width: 50rem;
  top: calc(50% - 25rem);
  left: -35rem;
  z-index: 10;
}
@media (max-width: 480px) {
  .form-container {
    width: 100%;
    padding: 30px 20px;
    border-radius: 16px;
  }
}
@media (min-width: 1000px) {
  .text-h4 {
    background-color: unset;
    font-size: 4rem;
    top: 2rem;
  }
  .side {
    left: -30rem;
  }
}

.contact-info {
  margin: 0 0 2rem;
  padding-top: 5rem;
}
.contact-info .text-box {
  margin-top: 2rem;
  border: 0.3rem solid var(--primary-pink);
  border-radius: 1rem;
  padding: 2.5rem;
  text-align: left;
}
.contact-info p {
  padding-top: 2rem;
}
.container-carousel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7rem;
  margin: 10rem 0 2rem;
}
.container-carousel-header {
  max-width: 30rem;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slideshow-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  max-width: 35rem;
  width: 100%;
  position: relative;
  margin-bottom: 5rem;
}
.slideshow-container img,
.numbertext {
  margin-top: 5rem;
  object-fit: contain;
  width: 40rem;
  max-width: 150%;
}
.slideshow-container img {
  box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 4px;
  border-radius: 1rem;
}
.slideshow-container a {
  color: var(--primary-white);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  border: 1px solid var(--primary-white);
}
@media screen and (max-width: 1080px) {
  .slideshow-container img,
  .numbertext {
    margin-top: 0;
  }
}
.text-filler {
  font-size: 1rem;
  padding: 1rem 3rem;
  position: absolute;
  bottom: 2rem;
  text-align: center;
}
.numbertext {
  left: 1rem;
}
footer a:hover {
  color: var(--primary-pink);
}

/* Calendar wrapper */
.calendar-wrapped {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

/* Calendar box */
.calendar {
  width: 60rem;
  max-width: 100%;
  transition: transform 0.2s;
}
#event-sidebar {
  display: flex;
  position: absolute;
  top: 4rem;
  align-self: center;
  max-width: 100%;
  width: 40rem;
  position: absolute;
  z-index: 1000;
}
.calendar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  margin: 3.5rem 0.5rem 1rem;
  align-self: stretch;
}
.btn-purple {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
  width: 8rem;
}
.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.btn-purple,
.calendar-title {
  box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 4px;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  font-weight: 600;
  border: 2px solid var(--primary-pink);
  background-color: var(--primary-purple);
  color: var(--primary-white);
  z-index: 10;
}
.calendar-title {
  width: 15rem;
}
.calendar-title:hover {
  background-color: var(--primary-purple) !important;
  cursor: unset;
}
.btn-purple:hover {
  background-color: var(--primary-pink);
}

/* Days & Dates */
.days,
.dates {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0.25rem;
}

.days li,
.dates li {
  background-color: var(--primary-white);
  width: 13%;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0.125rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid #d6d6d6;
  min-height: 5rem;
  transition:
    background 0.2s,
    transform 0.2s;
}
.calendar-weekDay {
  min-height: 2rem !important;
}
.days {
  margin: 0;
}
.days li {
  font-weight: bold;
}

.dates li:hover:not(.inactive) {
  background: #f0f0f0;
}

/* Date types */
.dates li.inactive {
  color: #bbb;
}

.dates li.today {
  color: var(--primary-purple);
  font-weight: bold;
}

.dates li.event small {
  display: block;
  margin-top: 2px;
}

/* Sidebar */

.event-map {
  height: 18rem;
  background: #e0e0e0;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}

#close-sidebar {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Responsive layout */
@media (max-width: 768px) {
  .calendar-wrapper {
    flex-direction: column;
    align-items: center;
  }

  #event-sidebar {
    width: 95%;
    margin-top: 1rem;
  }
}

.no-event {
  position: relative;
}
.add-event-btn {
  display: none;
  position: absolute;
  bottom: 0.5rem;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.75rem;
  align-items: center;
  justify-content: center;
}
.dates li.no-event:hover .add-event-btn {
  display: flex;
}

.event {
  font-weight: 400;
}
.event-card {
  padding: 1.25rem;
  border-radius: 1rem;
  background: var(--primary-white);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.event-header {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 1rem;
}

.event-title {
  font-size: 1.2rem;
  margin: 0;
  color: var(--primary-purple) !important;
}

.event-type {
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  background: #eee;
}

.event-meta {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 0.5rem;
}

.event-meta li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.event-description {
  color: #444;
  line-height: 1.4;
  text-align: left;
}

.event-address {
  font-style: normal;
  color: #666;
}

.event-map-link {
  margin-top: 0.5rem;
  align-self: flex-start;
  text-decoration: none;
  font-weight: 600;
  color: #2563eb;
}
.dates li.event {
  background: none; /* reset eventuele oude achtergrond */
  color: inherit; /* houd de tekstkleur */
}
.type-markt {
  background-color: #d4edbc !important; /* forceert de juiste kleur */
  color: #11734b !important;
}

.type-evenement {
  background-color: #e6cff2 !important;
  color: #5a3286 !important;
}

.type-privaat {
  background-color: #ffe5a0 !important;
  color: #473821 !important;
}

.type-standplaats {
  background-color: #bfe1f6 !important;
  color: #0a53a8 !important;
}

.white {
  color: var(--primary-white) !important;
  font-size: 2.5rem;
}
.add-event-btn:hover::after {
  opacity: 1;
}
.pizza-filter {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}
.btn-wider {
  width: 11rem;
}
.success-message {
  border: 2px solid var(--primary-pink);
  border-radius: 0.75rem;
  font-weight: 500;
  padding: 1rem;
}
.menu {
  padding: 0 0 5rem 0.5rem;
}
.menu .monoton-regular {
  color: var(--primary-pink);
  font-size: 5rem;
}
.menu-box {
  background-color: var(--primary-purple);
  padding: 6rem;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  min-height: 60rem;
}
.pizza-box {
  gap: 1rem;
  width: 60rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1050px) {
  .pizza-box,
  .menu-tabs {
    justify-content: center;
  }
}
.pizza {
  width: 25rem;
}
.kitchen-cashier .pizza {
  width: 18rem;
}
.kitchen-cashier h2 {
  display: none;
}
.kitchen-cashier .menu-box {
  padding: 4rem;
}
.pizza-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pizza-text h3 {
  text-transform: uppercase;
  margin: 0;
}
.pizza-text h3,
.pizza-add-btn,
.pizza-ingredients {
  color: var(--primary-white);
}
.pizza-ingredients {
  font-size: 1rem;
  width: 80%;
}
.price-box {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.btn-small {
  width: 3rem;
}
.btn-small-5 {
  width: 5rem;
}
@media screen and (max-width: 580px) {
  .menu-box {
    padding: 5rem 1rem;
  }
}
.imagesbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 15rem 0;
}
.imagesbox-img {
  max-width: 25rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 4px;
}
.imagesbox-img:hover {
  transform: scale(125%);
  cursor: pointer;
}
.menu-openStatus {
  color: var(--primary-white);
  padding-top: 4rem;
  text-align: center;
}
.menu-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-bottom: 3rem;
}
.margin-2 {
  margin: 2rem;
}
.leaflet-popup {
  margin-bottom: 3.7rem !important;
}
.leaflet-popup-navigate a {
  color: var(--primary-purple) !important;
}
.leaflet-popup-navigate a:hover {
  color: var(--primary-pink) !important;
}

.hero {
  height: 10rem;
  position: relative;
  color: white;
  bottom: 2px;
}
.hero svg.reverse {
  bottom: 2px;
}
.hero-reverse {
  bottom: -2px;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110%;
  height: 10rem;
  bottom: -2px;
}
.reverse {
  transform: rotate(180deg);
}