.success-page {
    background-color: var(--primary-purple);
    background-image: url(/images/logo.png);
    background-size: 15rem;
    background-repeat: repeat-y;
    background-position: 82%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
    margin-top: 5rem;
}

.success-card {
    display: flex;
    background-color: var(--primary-white);
    flex-direction: column;
    align-items: center;
    padding: 3rem 2.5rem;
    border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 30rem;
    max-width: 100%;
}
