.cart {
  position: fixed;
  background-color: var(--primary-white);
  bottom: 6rem;
  right: 1rem;
  width: 17rem;
  max-height: 80vh;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  padding: 16px;
  overflow-y: auto;
  z-index: 1000;
  font-family: sans-serif;
}
.cart h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 1.3rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.item-details p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

.item-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.item-actions button {
  border: 1px solid var(--primary-pink);
  width: 0.5rem;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
.checkout-buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.checkout--box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.checkout--box * {
  margin: 0 !important;
  width: 100% !important;
  gap: 0.5rem;
}
.box--1 {
  display: flex;
  width: 100%;
}
.total {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.btn-cta,
.btn-order {
  position: fixed;
  bottom: 1rem;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.btn-order,
.btn-cart,
.checkout-button,
.cta-btn {
  margin: 1rem;
  width: 17rem;
  border: 2px solid yellow;
  color: yellow;
}
.checkout-button {
  width: calc(100% - 2rem);
}
.btn-cart {
  position: relative;
}
.cart-count {
  background-color: yellow;
  color: var(--primary-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  right: -1rem;
  top: -1rem;
}

@media (max-width: 700px) {
  .btn-order,
  .btn-cart {
    max-width: 8rem !important;
  }
}
.payconiq--qr {
  width: 25rem;
  max-width: 100%;
  margin-bottom: 5rem;
}
