.success-page-body {
  background-color: var(--primary-purple) !important;
  background-color: var(--primary-purple);
  background-image: url(/images/logo.png);
  background-size: 15rem;
  background-repeat: repeat-y;
  background-position: 82%;
  background-attachment: fixed;
  padding: 2rem 0;
  min-height: 100vh;
}
.success-page {
  display: flex;
  justify-content: center;
}

.success-card {
  display: flex;
  background-color: var(--primary-white);
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0.5rem 5rem;
  padding: 3rem 1rem;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 35rem;
  max-width: 100%;
}

.success-row {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.success-total {
  margin-top: 1rem;
  text-align: left;
}
